*{
    background: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.titulo{
    display: flex;
    justify-content: center;
    padding: 20px;

}

.titulo h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 40px ;
}

.containerCard{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoMusica p{
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 15px;
}

.conteudoMusica span{
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 5%;
}

.controlesMusica{
    margin: 25px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
}

audio{
    padding: 10px;
}